{{ define "main" }}
{{ partial "breadcrumbs" .}}
   <div class="my-auto">
  <h1 class="mb-0">{{ .Title }}</h1>
  {{ .Content }}
  </h1>
  </div>

   {{ $projects := slice "creations" "contributions" }}
   {{ $sections := slice "publications" "blog" }}
   {{ $site := .Site }}
   {{ range .Site.Params.sections }}
      {{ $sectionName := . }}
      {{ if in $projects . }}
         {{ with $site.GetPage "section" (printf "projects/%s" .) }}
            {{ .Scratch.Set "sectionId" $sectionName }} 
            {{ partial "sectionSummary" . }}
         {{ end }}
      {{ else if in $sections . }}
         {{ with $site.GetPage "section" . }}
            {{ .Scratch.Set "sectionId" $sectionName }} 
            {{ partial "sectionSummary" . }}
         {{ end }}
      {{ else }}
         {{ partial (printf "portfolio/%s" . ) $.Site }}
      {{ end }}
   {{ end }}
{{ end }}
